header,
main,
footer {
    background-color: #FEFDF9;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    min-width: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#divHeaderUp,
#divHeaderButtom {
    width: 80%;
    justify-content: space-between;
}

#divHeaderUpLeft {
    gap: 4px;
    font-size: 40px;
}

#divHeaderUpLeft img {
    height: 100px;
    width: 100px;
}

#divHeaderUpRight {
    gap: 15px;
    font-size: 16px;
}

#divHeaderButtomleft {
    font-size: 20px;
    gap: 5px;
}

.indexLinkA {
    text-decoration: none;
    background-color: #d0ecff;
    padding: 4px 8px;
    border-radius: 6px;
    color: black;
}

#divHeaderButtomRight {
    margin-right: 100px;
    gap: 20px;
}

#divHeaderButtomRight img {
    width: 45px;
    height: 48px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banderaRegion {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

/* Main */
#divmainRegistro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

}

#ConetenedorMensajeRelleno {
    margin-top: 70px;
    color: white;
    width: 100%;
    background: linear-gradient(to right, #2186DD, #39C7D8);
    height: 30px;
}

#contenedorForm {
    background-color: white;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 90px;
    justify-items: center;
    text-align: center;
    border: 1px, solid;
    border-radius: 10px;
    height: 350px;
}

form {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#divBotonRegister {
    padding-top: 15px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

/* footer */
footer {
    border-bottom: 0%;
    color: white;
    background: linear-gradient(to right, #2186DD, #39C7D8);
}

#divfoot {
    display: flex;
    justify-content: space-between;
}

#footsideleft {
    margin-left: 30px;
    margin-bottom: 10px;
    line-height: 0.4;
    margin-top: 8px;
}

#footsideleft h3 {
    margin-bottom: 35px;
}

#footsideright {
    margin-top: 15px;
    margin-right: 30px;
    width: 150px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#footsideright h3 {
    margin-bottom: 0%;
}

#divRedesSociales {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.imgFooterRedes {
    width: 35px;
    height: 35px;
    border-radius: 8px;
}